
@media(max-width: 1330px){
    .senuelos{
        grid-template-columns: repeat(4,1fr);
        justify-items: center;

    }
    .senuelo{
        width: 90%;
        height: 350px;
        justify-content: space-between;
    }
}
/*media query pagina señuelos*/
@media(max-width: 1024px){
    .senuelos{
        grid-template-columns: repeat(3,1fr);
        justify-items: center;

    }
    .senuelo{
        width: 90%;
        height: 350px;
        justify-content: space-between;
    }
}


/*media query pagina señuelos para dispostivimos tablet*/
@media(max-width: 768px){
    .senuelos{
        
        grid-template-columns: repeat(2,1fr);
        justify-items: center;

    }
    .senuelo{
        width: 70%;
        height: 350px;
        justify-content: space-between;
        
    }
}

/*media query pagina señuelos para dispostivimos moviles*/
@media(max-width: 480px){
    .senuelos{ 
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .senuelo{
        width: 85%;
        height: 400px;
        justify-content: space-between;
        &:hover{
            transform: scale(1.15);
        }
       img{
        &:hover{
            transform: none;
        }
       }
    }
    .senuelo button{
        width: 90px;
        padding: 5px;
    }
}

