:root{
    --fuente-principal:"fuente primaria",'Overpass', sans-serif;
}

@import "reset";
@import "barra_navegacion";
@import "footer";
@import "logo";
@import "social";

/*inicio estilos pagina home*/
@import "portada";
@import "cont_quienes_somos";
@import "cont_salidas_inicio";
@import "servicios";
@import "guias_inicio";
/*fin estilos pagina home*/

/*inicio estilos pagina "salidas"*/
@import "contenedor_salidas";
@import "salidas";
@import "contenido_salidas";
/*fin estilos pagina salidas*/

/*inicio estilos pagina "guias"*/
@import "contenedor_guias";
@import "guia";
@import "contenedor_guia";
@import "select";
@import "sombra";
@import "media_pag_guias";
/*fin estilos pagina "guias"*/

/*inicio estilos pagina "señuelos"*/
 @import"senuelos";
 @import"senuelo";


@media(max-width: 480px){
    .senuelos{ 
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .senuelo{
        width: 85%;
        height: 400px;
        justify-content: space-between;
    }
    .senuelo button{
        width: 90px;
        padding: 5px;
    }
}

@media(max-width: 768px){
    .senuelos{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;

    }
    .senuelo{
        width: 70%;
        height: 350px;
        justify-content: space-between;
    }
}

/*Fin hoja de estilos Señuelos*/

/*Inicio hoja forulario*/

.formulario{
    font-size: 22px;
    border: solid black ;
    border-radius: 20px;
    width: 90%;
    height: 700px;
    display: flex;
    justify-items: center;
    margin: 20px;
    background-image: linear-gradient(to bottom,#cd966c, #874421) ;

}
.formulario img{
    height: 95%;
    width: 90%;
    border-radius: 20px;
    margin: 15px;
    border: white 2px solid;
}

.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap:10px
    
}
.form button{
    width: 90px;
    height: 25px;
    border-radius: 5px;
}
.form button:hover{
    background-color: green;
    color: white;
}
.data{
    display: flex;
    flex-direction: column;
}
.data input{
    background-color: transparent;
    border: none;
    border-bottom: 2px white;
    font-size: 22px ;
    color: white;
}

.data input:hover{
    background-color: rgb(201, 174, 174);
}

@media(max-width: 480px){
    .form button{
        margin-top: 10px;
    }
    .imagen__formulario{
        display: none;
    }
}
@media(max-width: 768px){
    .formulario{
        height: 500px;
    }
    .imagen__formulario{
        width: 100%;
    }
}